html{
	width: 1020px;
}
.navigation{
	height: 64px;
	background-color: #323232;
}
.triangle{
	border-right: 46px solid transparent;
	border-left: 46px solid transparent;
	height: 0;
	width: 0;
	border-top: 28px solid #323232;
	margin: 0 auto;
	margin-top: -6px;
}
.menu{
	margin-left: 5px;
}
 ul.menu{
	display: flex;
	justify-content: center;
}
.menu li{
	list-style: none;
	padding: 0 12px;
	margin-top: 26px;
}
.menu li a{
	font-family: 'Lato Bold', sans-serif;
	text-decoration: none;
	color: white;
	font-size: 10px;
}
.menu li a:hover{
	text-shadow: 0 0 5px #2eb398, 0 0 10px #2eb398, 0 0 15px #2eb398;
}
li.logo{
	margin: 10px 12px 0 12px;
}
li.item a{
	color: #2eb398;
}
.hexagon-container{
	margin-top: 61px;
	margin-left: 111px;
} 
.hexagon{
	width: 180px;
	height: 210px;
	margin: 8px;
	margin-bottom: 2px;
	transform:rotate(120deg);
	overflow: hidden;
	visibility: hidden;
	display: inline-block;
}
.hex-layer-1{
	visibility: hidden;
	width: 100%;
	height: 100%;
	transform: rotate(-60deg);
	overflow: hidden;
}
.hex-layer-2{
	width: 100%;
	height: 100%;
	background: #ccc3;
	transform:rotate(-60deg);
	overflow: hidden;
	visibility: visible;
	background-repeat: no-repeat;
	background-position: 50%;
}
.hexagon:hover{
	transform: rotate(-240deg);
	transition: transform 1s ease-in;
}
.hex-1{
	background-image: url('../assets/1.jpg');
}
.hex-2{
	background-image: url('../assets/2.jpg');
}
.hex-3{
	background-image: url('../assets/3.jpg');
}
.hex-4{
	background-image: url('../assets/4.jpg');
}
.hex-5{
	background-image: url('../assets/5.jpg');
}
.hex-6{
	background-image: url('../assets/6.jpg');
}
.hex-7{
	background-image: url('../assets/7.jpg');
}
.hex-8{
	background-image: url('../assets/8.jpg');
}
.hex-9{
	background-image: url('../assets/9.jpg');
}
.hex-10{
	background-image: url('../assets/10.jpg');
}
.hex-11{
	background-image: url('../assets/11.jpg');
}
.hex-12{
	background-image: url('../assets/12.jpg');
}
.hex-13{
	background-image: url('../assets/13.jpg');
}
.hex-14{
	background-image: url('../assets/14.jpg');
}
.row-translate .hexagon{
	position: relative;
	top: -55px;
	left: -99px;
}
.row-native:not(:first-child){
	margin-top: -110px;
}
.row{
	min-width: 1020px;
}
.slide{
	margin: 48px 0 11px 30px;
	width: 51px;
	height: 6px;
	display: flex;
	justify-content: space-between;
}
.hr-hex{
	width: 960px;
	height: 1px;
	background: #e4e9eb;
	border: 0;
	margin-bottom: 11px;
}
.hr-top{
	display: flex;
	margin-top: 3px;
}
.hr-left, .hr-right{
	width: 410px;
	height: 1px;
	background: #e4e9eb;
	border: 0;
}
.hr-left{
	margin-left: 30px;
}
.hr-right{
	margin-right: 30px;
}
.rectangle{
	width: 6px;
	height: 6px;
	background: #ddd2c5;
}
.main-rectangle{
	background: #8b8784;
}
.info{
	height: 340px;
	background-color: #2eb398;
	display: flex;
}
article{
	text-align: justify;
	width: 580px;
	margin-top: 65px;
	
}
article h3{
	font-family: 'Maven Pro', sans-serif;
	font-size: 30px;
	color: #d7fcf5;
}
article p{
	font-family:  'Lato Bold', sans-serif;
	font-size: 12px;
	color: #d7fcf5;
	line-height: 1.8;
}
.subtitle{
	font-family: 'Maven Pro', sans-serif;
	font-size: 18px;
	color: #20816d;
}
.row-info .hexagon{
	margin: 65px 20px 0 120px;
}
.social{
	display: flex;
	margin-top: 37px;
	justify-content: flex-end;
}
.social div{
	width: 23px;
	height: 23px;
	display: flex;
    align-items: center;
	justify-content: center;
	background: #a4dbd4;
	border: 1px solid #2eb398;
	font-size: 15px;
	color: #2eb398;
}
.social div a{
	margin: 0;
	justify-content: center;
	font-size: 15px;
	color: #2eb398;
}
.social div a:hover{
	color: #323232;
}
fieldset h3{
	font-family: 'Maven Pro', sans-serif;
	font-size: 30px;
	color: #e0e0e0;
}
fieldset .subtitle{
	font-family: 'Maven Pro', sans-serif;
	font-size: 18px;
	color: #bebebe;
}
footer{
	background-color: #323232;
	display: flex;
	position:relative;
	padding-bottom:43px;
}
fieldset{
	display: flex;
	padding: 65px 15px 15px 120px;
	width: 582px;
}
fieldset input{
	background-color: #454545;
	height: 38px;
	width: 582px;
	border: 0;
	margin: 16px 0;
	box-sizing: border-box;
}
textarea{
	background-color: #454545;
	height: 150px;
	width: 582px;
	border: 0;
	box-sizing: border-box;
}
.footer-item{
	width: 182px;
	padding-top: 65px;
}
.footer-item p{
	font-family: 'Lato Bold', sans-serif;
	color: #bebebe;
	font-size: 12px;
	line-height: 1.9;
}
.footer-item p b{
	color: #e0e0e0;
}
ul.contacts{
	margin-top: 35px;
}
ul.contacts li{
	color: #bebebe;
	font-size: 12px;
	margin-bottom: 8px;
	font-family: 'Lato Bold', sans-serif;
}
ul.contacts li a{
	text-decoration: none;
	color: #bebebe;
}
ul.contacts li a:hover{
	text-decoration: underline;
}
li i{
	font-size: 12px;
	color: #2eb398;
	margin-right: 15px;
}
.button-submit{
	background: #2eb398;
	color: #d7fcf5;
	height: 37px;
	width: 90px;
	border: 0;
	margin: 0 20px 65px 0;
	float: right;
}
.button-submit:hover{
	background: #d7fcf5;
	color: #2eb398;
	height: 37px;
	width: 90px;
	border: 1px solid #2eb398;
}
.bottom{
	width: 1020px;
	height: 43px;
	background-color: #222222;
	position:absolute;
	bottom: 0;
}
.bottom p{
	color:	#454545;
	margin-left: 30px;
	margin-top: 13px;
}
input::placeholder{
	font-size: 12px;
	color: #bebebe;
	font-family: 'Lato Bold', sans-serif;
}
textarea::placeholder{
	font-size: 12px;
	color: #bebebe;
	padding-left: 5px;
	padding-top: 10px;
	font-family: 'Lato Bold', sans-serif;
}